@import "base/reset";
@import "layout/header";
@import "layout/mainIndex";
@import "layout/footer";
@import "layout/mainProductos";
@import "layout/mainSobreNosotros";
@import "layout/mainContactate";
@import "layout/mainCarrito";
@import "componentes/buyButton";
@import "componentes/tiendaButton";
@import "layout/queries-max768";
@import "layout/hambur";
@import "utilities/mixins";
@import "utilities/variables";



html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;

}
body {
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 60px 95% 5%;
    background-color: $backgroundColor;
}