.ourTeam {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    padding:1rem;
    margin:5rem;
    border:1px solid white;
    background-color:#464E2E;
    color:#d8cca3;
}