$primaryColor:#F0997D;
$secondaryColor:#464E2E;
$backgroundColor:whitesmoke;
$thirdColor:#d8cca3;
$hooverColor:white;
$secondaryBackgroundColor:#d9d9d9;

@mixin centrado {
    flex-flow: column wrap;
        justify-content: center;
        align-items: center;
}


.consulta{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1rem;
    border: 1px solid white;
    margin:2rem;
    font-size: 2rem; 
    background-color:$secondaryColor;
    color:$thirdColor; 
    border-radius: 0.4rem;
}

.formGrid{
    padding: 3rem;
    background-color: $thirdColor;
    border:1px solid white;

}
.form1, .form2, .form3 {
    padding: 1.5rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.form3{
    padding: 3rem;

}

.adress{
    padding:1rem;
    margin:2rem;
    font-size: 2rem; 
    border:1px solid white;
    background-color:$secondaryColor;
    color:$thirdColor;
    border-radius: 0.4rem;
}
