$primaryColor:#F0997D;
$secondaryColor:#464E2E;
$backgroundColor:whitesmoke;
$thirdColor:#d8cca3;
$hooverColor:white;

.estadoCarrito{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size:2rem; 
    padding:1rem;
    margin: 1rem;
    border:1px solid white;
    background-color:$secondaryColor;
    color:$thirdColor;
}