$primaryColor:#F0997D;
$secondaryColor:#464E2E;
$backgroundColor:whitesmoke;
$thirdColor:#d8cca3;
$hooverColor:white;
$secondaryBackgroundColor:#d9d9d9;

@mixin centrado {
    flex-flow: column wrap;
        justify-content: center;
        align-items: center;
}
@media only screen and (min-width:0px) and (max-width: 425px) {
    /*QUERIES BARRA DE NAVEGACION*/
    body {
        display: grid;
        grid-template-rows: 200px 95% 5%;
    }

    header { 
        li { 
            font-size: 1rem;  
    } 
    
            a{        
                font-size: 1rem;

    }
            img{
                width: 2rem;
                height: 2rem;    
    }
    }

    /*QUERIES BARRA DE BUSQUEDA*/
    .searchBar{
        @include centrado;
        margin-top: 1rem;
    }
    .searchBarBox{
        height: 2rem;
    }
    /*QUERIES PAGINA INICIO*/
    .portada{
        width: 70%;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;

            p{
                grid-column: 1/2;
                grid-row: 2/3;
    }
}
    
    .imagenPortada {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .gridCabello, .gridPiel{
        display: flex;
        @include centrado;
        width:70%;
    }
/*QUERIES PAGINA PRODUCTOS*/
    .flexColumnProduct{
    display: flex;
    @include centrado;
}

/*QUERIES FOOTER*/
    footer {
        @include centrado;
    
            div{
        flex-flow: column wrap;    
    }
}
    .footerGridContact{
        width: 100%;
    }
    .footerGridSellos{
        width: 100%;    
    }
/*QUERIES PAGINA CONTACTO*/
    .formGrid{
        padding: 3rem;
    
    }
    .form1, .form2, .form3 {
        padding: 1rem;
        margin: 0.5rem;
        font-size: 1rem;
    }
    .form3{
        padding: 2rem;
    }
    .form4{
        font-size: 1rem;
    } 
}

    @media only screen and (min-width:768px) and (max-width: 1024px) {
        .piel{
            padding: 0rem;
    } }